In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_pickle("/media/melgiri/Storage/Data/markets/CADJPY.pkl")

In [3]:
df.head()

,time,bid,ask,last,volume,time_msc,flags,volume_real
0,2018-12-11 11:00:00,84.548,84.572,0.0,0,1544544000039,130,0.0
1,2018-12-11 11:00:00,84.549,84.572,0.0,0,1544544000094,130,0.0
2,2018-12-11 11:00:00,84.550,84.574,0.0,0,1544544000147,134,0.0
3,2018-12-11 11:00:00,84.551,84.575,0.0,0,1544544000234,134,0.0
4,2018-12-11 11:00:00,84.552,84.575,0.0,0,1544544000784,130,0.0

In [15]:
df.columns

Index(['time', 'bid', 'ask', 'last', 'volume', 'time_msc', 'flags',
       'volume_real'],
      dtype='object')

In [139]:
df = df.set_index("time")

In [140]:
df.columns

In [183]:
df.drop(['last', 'volume', 'time_msc', 'flags', 'volume_real'])

KeyError: "['last' 'volume' 'time_msc' 'flags' 'volume_real'] not found in axis"

In [233]:
df1 = df

In [234]:
df1.head()

,bid,ask,last,volume,time_msc,flags,volume_real
time,,,,,,,
2018-12-11 11:00:00,84.548,84.572,0.0,0,1544544000039,130,0.0
2018-12-11 11:00:00,84.549,84.572,0.0,0,1544544000094,130,0.0
2018-12-11 11:00:00,84.550,84.574,0.0,0,1544544000147,134,0.0
2018-12-11 11:00:00,84.551,84.575,0.0,0,1544544000234,134,0.0
2018-12-11 11:00:00,84.552,84.575,0.0,0,1544544000784,130,0.0

In [238]:
df2 = df1.groupby(pd.Grouper(freq="Min")).apply(lambda x: [x["ask"][0], np.min(x["ask"]), np.max(x["ask"]), x["ask"][-1]] if len(x) > 1 else [x["ask"], x["ask"], x["ask"], x["ask"]])

In [232]:
df2.head()

time
2018-12-11 11:00:00    [84.572, 84.572, 84.602, 84.601]
2018-12-11 11:01:00    [84.601, 84.599, 84.618, 84.615]
2018-12-11 11:02:00     [84.615, 84.598, 84.62, 84.604]
2018-12-11 11:03:00    [84.603, 84.603, 84.619, 84.612]
2018-12-11 11:04:00    [84.611, 84.607, 84.617, 84.616]
dtype: object

In [240]:
df2.iloc[0]

[84.572, 84.572, 84.602, 84.601]

In [160]:
df2

time
2018-12-11 11:00:00    [[84.572, 84.572, 84.574, 84.575, 84.575, 84.5...
dtype: object

In [242]:
len(df2)

614885

In [243]:
df2.columns

AttributeError: 'Series' object has no attribute 'columns'

In [244]:
df2.to_frame()

                                                    0
time
2018-12-11 11:00:00  [84.572, 84.572, 84.602, 84.601]
2018-12-11 11:01:00  [84.601, 84.599, 84.618, 84.615]
2018-12-11 11:02:00   [84.615, 84.598, 84.62, 84.604]
2018-12-11 11:03:00  [84.603, 84.603, 84.619, 84.612]
2018-12-11 11:04:00  [84.611, 84.607, 84.617, 84.616]
...                                               ...
2020-02-11 11:00:00  [82.552, 82.538, 82.554, 82.545]
2020-02-11 11:01:00  [82.545, 82.543, 82.567, 82.566]
2020-02-11 11:02:00  [82.566, 82.559, 82.567, 82.563]
2020-02-11 11:03:00   [82.564, 82.563, 82.58, 82.566]
2020-02-11 11:04:00  [82.567, 82.561, 82.571, 82.568]

[614885 rows x 1 columns]

In [249]:
df2.columns = [0, "open", "low", "high", "close"]

ValueError: Length mismatch: Expected axis has 1 elements, new values have 5 elements

In [250]:
df2.head()

                                                    0
time
2018-12-11 11:00:00  [84.572, 84.572, 84.602, 84.601]
2018-12-11 11:01:00  [84.601, 84.599, 84.618, 84.615]
2018-12-11 11:02:00   [84.615, 84.598, 84.62, 84.604]
2018-12-11 11:03:00  [84.603, 84.603, 84.619, 84.612]
2018-12-11 11:04:00  [84.611, 84.607, 84.617, 84.616]

In [265]:
df2.columns = ["col1"]

In [267]:
df_final = pd.DataFrame(df2.col1.to_list(), columns=["open", "low", "high", "close"])
df_final.index = df2.index

In [268]:
df_final.head()

                       open     low    high   close
time
2018-12-11 11:00:00  84.572  84.572  84.602  84.601
2018-12-11 11:01:00  84.601  84.599  84.618  84.615
2018-12-11 11:02:00  84.615  84.598   84.62  84.604
2018-12-11 11:03:00  84.603  84.603  84.619  84.612
2018-12-11 11:04:00  84.611  84.607  84.617  84.616

In [269]:
df.columns

Index(['bid', 'ask', 'last', 'volume', 'time_msc', 'flags', 'volume_real'], dtype='object')

In [270]:
max(df["volume_real"])

0.0