In [1]:
import gym
import gym_anytrading
from gym_anytrading.envs import TradingEnv, ForexEnv, StocksEnv, Actions, Positions 
from gym_anytrading.datasets import FOREX_EURUSD_1H_ASK

In [2]:
import import_ipynb

In [3]:
from Neural_Networks import *

importing Jupyter notebook from Neural_Networks.ipynb

/home/melgiri/PycharmProjects/ForEx_2/venv/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/melgiri/PycharmProjects/ForEx_2/venv/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/melgiri/PycharmProjects/ForEx_2/venv/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/melgiri/PycharmProjects/ForEx_2/venv/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/melgiri/PycharmProjects/ForEx_2/venv/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/melgiri/PycharmProjects/ForEx_2/venv/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/melgiri/PycharmProjects/ForEx_2/venv/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/melgiri/PycharmProjects/ForEx_2/venv/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/melgiri/PycharmProjects/ForEx_2/venv/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/melgiri/PycharmProjects/ForEx_2/venv/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/melgiri/PycharmProjects/ForEx_2/venv/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/melgiri/PycharmProjects/ForEx_2/venv/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [4]:
import gym
import gym_anytrading
from gym_anytrading.envs import TradingEnv, ForexEnv, StocksEnv, Actions, Positions 
from gym_anytrading.datasets import FOREX_EURUSD_1H_ASK, STOCKS_GOOGL
import matplotlib.pyplot as plt

env = gym.make('forex-v0', df=FOREX_EURUSD_1H_ASK, window_size=12, frame_bound=(12, len(FOREX_EURUSD_1H_ASK)))
model = NeuralNetwork_Simple(input_size=env.observation_space.shape, output_size=env.action_space.n).model
model.build((1,) + env.observation_space.shape)

/home/melgiri/PycharmProjects/ForEx_2/venv/lib/python3.6/site-packages/gym/logger.py:30: UserWarning: WARN: Box bound precision lowered by casting to float32
  warnings.warn(colorize('%s: %s'%('WARN', msg % args), 'yellow'))

In [5]:
from rl.agents.cem import CEMAgent
from rl.memory import EpisodeParameterMemory
from rl.policy import EpsGreedyQPolicy
from tensorflow.keras.optimizers import Adam
memory = EpisodeParameterMemory(limit=200, window_length=1)
nb_actions = env.action_space.n

agent = CEMAgent(model=model, nb_actions=nb_actions, memory=memory, nb_steps_warmup=10000)
agent.compile()
agent.fit(env, nb_steps = 60000, visualize = False, verbose = 1)
agent.save_weights('cem_weights.h5f', overwrite=True)

Training for 60000 steps ...
Interval 1 (0 steps performed)
10000/10000 [==============================] - 5s 508us/step - reward: -0.0105
1 episodes - episode_reward: -57.100 [-57.100, -57.100] - total_reward: 10.125 - total_profit: 0.824 - position: 0.620

Interval 2 (10000 steps performed)
10000/10000 [==============================] - 5s 518us/step - reward: 0.1431
2 episodes - episode_reward: 436.500 [300.400, 572.600] - total_reward: 151.863 - total_profit: 0.794 - position: 0.570

Interval 3 (20000 steps performed)
10000/10000 [==============================] - 5s 509us/step - reward: -0.0978
1 episodes - episode_reward: -575.700 [-575.700, -575.700] - total_reward: 256.255 - total_profit: 0.791 - position: 0.461

Interval 4 (30000 steps performed)
10000/10000 [==============================] - 5s 502us/step - reward: -0.1824
2 episodes - episode_reward: -520.500 [-1225.700, 184.700] - total_reward: -442.694 - total_profit: 0.792 - position: 0.578

Interval 5 (40000 steps performed)
10000/10000 [==============================] - 5s 505us/step - reward: 0.2208
2 episodes - episode_reward: 822.650 [416.500, 1228.800] - total_reward: 294.604 - total_profit: 0.786 - position: 0.564

Interval 6 (50000 steps performed)
10000/10000 [==============================] - 5s 507us/step - reward: -0.1029
done, took 30.549 seconds

In [6]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 1, 12, 2)]        0
_________________________________________________________________
flatten (Flatten)            (None, 24)                0
_________________________________________________________________
dense (Dense)                (None, 2)                 50
=================================================================
Total params: 50
Trainable params: 50
Non-trainable params: 0
_________________________________________________________________

In [16]:
from tqdm import tqdm

In [19]:
observation = env.reset()
total_reward = 0.0              # Reward is the profit realized when a trade closes
for i in tqdm(range(20000)):
    action = agent.forward(observation)
    observation, reward, done, info = env.step(action)
    total_reward += reward
    if done:
        observation = env.reset()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 20000/20000 [00:07<00:00, 2642.17it/s]

In [21]:
print(reward)

-2.6999999999977042

In [22]:
FOREX_EURUSD_1H_ASK.head()

                            Open     High      Low    Close       Volume
Time
01.01.2017 22:00:00.000  1.05236  1.05253  1.05221  1.05227  143539993.3
01.01.2017 23:00:00.000  1.05227  1.05426  1.05226  1.05282  253139999.4
02.01.2017 00:00:00.000  1.05283  1.05283  1.05268  1.05281  131399993.9
02.01.2017 01:00:00.000  1.05282  1.05286  1.05225  1.05240  273940002.4
02.01.2017 02:00:00.000  1.05239  1.05240  1.05164  1.05220  258140014.6

In [23]:
import pandas as pd

In [24]:
df = pd.read_pickle("/media/melgiri/Storage/Data/markets/CADJPY.pkl")

In [25]:
df.head()

,time,bid,ask,last,volume,time_msc,flags,volume_real
0,2018-12-11 11:00:00,84.548,84.572,0.0,0,1544544000039,130,0.0
1,2018-12-11 11:00:00,84.549,84.572,0.0,0,1544544000094,130,0.0
2,2018-12-11 11:00:00,84.550,84.574,0.0,0,1544544000147,134,0.0
3,2018-12-11 11:00:00,84.551,84.575,0.0,0,1544544000234,134,0.0
4,2018-12-11 11:00:00,84.552,84.575,0.0,0,1544544000784,130,0.0

In [26]:
len(df)

24813694

In [28]:
time_col = df["time_msc"]

In [29]:
time_col

0           1544544000039
1           1544544000094
2           1544544000147
3           1544544000234
4           1544544000784
                ...
24813689    1581437096503
24813690    1581437096696
24813691    1581437096894
24813692    1581437098504
24813693    1581437099208
Name: time_msc, Length: 24813694, dtype: int64

In [30]:
type(time_col[0])

numpy.int64

In [32]:
df.index = pd.to_datetime(time_col)

In [40]:
max(df["volume_real"])

0.0

In [37]:
df1 = df.groupby(pd.Grouper(freq='1 min', key='time'))['time'].first().reset_index(drop=True)
df1.head()

0   2018-12-11 11:00:00
1   2018-12-11 11:01:00
2   2018-12-11 11:02:00
3   2018-12-11 11:03:00
4   2018-12-11 11:04:00
Name: time, dtype: datetime64[ns]

In [38]:
len(df1)

614885